[General]
Name="Presentation Host"
Language="US"
LanguageEx="US"
LanguageCharset=""
Participants="Presentation.c4p"
PlayerPath=""
FirstStart=false
ConfigResetSafety=42
Preloading=false
FPS=false

[Network]
LocalName="Presentation Host"
Nick="Presentation Host"
PortTCP=41117
PortUDP=41118
PortDiscovery=0
PortRefServer=41119
MasterServerSignUp=false
LeagueServerSignUp=false
EnableAutomaticUpdate=false
EnableUPnP=false
UseCurl=false
NoRuntimeJoin=true
ControlMode=0
ControlRate=2
AsyncMaxWait=2

[Graphics]
ResolutionX=1280
ResolutionY=720
Scale=100
DisplayMode=Window
Maximized=false
UpperBoard=Full
ShowPlayerHUDAlways=true
ShowPortraits=true
ShowCommands=true
ShowCommandKeys=true
ShowClock=false
ShowCrewNames=true
ShowCrewCNames=true
MsgBoard=true
PXSGfx=true
PointFiltering=false
NoBoxFades=false
DisableGamma=false
Shader=true
UseShaderGamma=true
AutoFrameSkip=false
FireParticles=true

[Sound]
Sound=false
Music=false
MenuMusic=false
MenuSound=false
